@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8FAF8;
    color: #112211;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

.drop-cap::first-letter {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 3.8rem;
  line-height: 0.85;
  float: left;
  margin-right: 0.75rem;
  font-weight: 700;
  color: #132A13;
}
